/* Empty. Add your own CSS if you like */
body{
    background-color: #f8f8f8 !important;
    font: 14px/20px "Roboto", "Microsoft YaHei", "SimSun",
    "Arial Narrow", HELVETICA;
    color: #000;
    /*background-image:url(../img/background.png);*/
}
.scroll-conten {
    background-color: #f8f8f8 !important;
}
#alarmlogs span{
    float:left;margin-right:20px;
}

#alarmlogs div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.alarm-list .item {
    text-align: left;
}
.alarm-list .item h2,.alarm-list .item p {
    margin-left:20px;
}
#video-live{
    width:100%;
}
.warning{
    color: #ffc900;
}
.emergency{
    color: #e42012;
}
.odd {background-color:#c0c0c0;}
.even {background-color:#eeeeee;}


#transform
{
width:100px;
height:100px;
background:red;
margin:0 auto;
position:relative;
animation:myfirst 5s;
-moz-animation:myfirst 5s; /* Firefox */
-webkit-animation:myfirst 5s; /* Safari and Chrome */
-o-animation:myfirst 5s; /* Opera */
}

@keyframes myfirst
{
0%   {background:red; left:0px; top:0px;}
12%  {background:yellow; left:100px; top:0px;}
25%  {background:blue; left:100px; top:100px;}
50%  {background:green; left:0px; top:100px;}
62%  {background:gray; left:-100px; top:100px;}
75%  {background:purple; left:-100px; top:0px;}
100% {background:red; left:0px; top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background:red; left:0px; top:0px;}
12%  {background:yellow; left:100px; top:0px;}
25%  {background:blue; left:100px; top:100px;}
50%  {background:green; left:0px; top:100px;}
62%  {background:gray; left:-100px; top:100px;}
75%  {background:purple; left:-100px; top:0px;}
100% {background:red; left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:red; left:0px; top:0px;}
12%  {background:yellow; left:100px; top:0px;}
25%  {background:blue; left:100px; top:100px;}
50%  {background:green; left:0px; top:100px;}
62%  {background:gray; left:-100px; top:100px;}
75%  {background:purple; left:-100px; top:0px;}
100% {background:red; left:0px; top:0px;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {background:red; left:0px; top:0px;}
12%  {background:yellow; left:100px; top:0px;}
25%  {background:blue; left:100px; top:100px;}
50%  {background:green; left:0px; top:100px;}
62%  {background:gray; left:-100px; top:100px;}
75%  {background:purple; left:-100px; top:0px;}
100% {background:red; left:0px; top:0px;}
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?c1lhx5');
    src:url('fonts/icomoon.eot?c1lhx5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c1lhx5') format('truetype'),
    url('fonts/icomoon.woff?c1lhx5') format('woff'),
    url('fonts/icomoon.svg?c1lhx5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-ibms-"], [class*=" icon-ibms-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ibms-logo:before {
    content: "\e900";
}


#logo{
    font-size: 78px;
    padding: 50px 0px;
    text-align: center;
}