<ion-view view-title=" {{title}}" align-title="center">
    <ion-content>
       <div class="list list-inset">
           <label class="item item-input">
               <span class="input-label">服务器ip:</span>
               <input type="text" ng-model="mediaServerIP" placeholder="服务器ip地址" />
           </label>
           <div class="item">
               <button class="button button-block button-balanced" ng-click="doLogout()">登出</button>
           </div>
       </div>

    </ion-content>

</ion-view>
