<!--照明设备属性列表模版-->
<ion-view view-title={{title}}>
    <ion-content>
        <ion-refresher pulling-text="更新参数..."
                       on-refresh="doRefresh()" refreshing-icon="ion-load-a">
        </ion-refresher>
        <ul class="list">
            <li class="item item-toggle">
                {{device.name}}起停控制
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                </label>
            </li>
            <li ng-click="goSystem('systems.chart',{name:device.p1name,value:device.p1value})"  class="item">{{device.name}}的历史能耗曲线</li>
        </ul>
        <div class="item range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
        </div>

        <div class="list">
            <div class="item range range-positive">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="0" max="100" value="33">
                <i class="icon ion-ios-sunny"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
