<!--单一设备的具体模版-->
<ion-view view-title={{title}} align-title="center">
    <ion-content>
        <ul class="list">
            <li class="item item-toggle">
                {{device.name}}起停控制
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <a ng-click="goSystem('systems.charts',{name:device.p1name,value:device.p1value})"  class="item">{{device.name}}的历史能耗曲线</a>
        </ul>
        <div class="item range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
        </div>

        <div class="list">
            <div class="item range range-positive">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="0" max="100" value="33">
                <i class="icon ion-ios-sunny"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
